.button {
  background-color: #e7e7e7;
  color: black;
  border: 2px ;
  padding: 14px 40px;
}
.button {
  background-color: #555555;
  border: 2px;
  padding: 14px 40px;
}

.button {
  background-color: #e7e7e7;
  color: black;
  border: 2px ;
  padding: 14px 40px;
}

.button {
  background-color: #555555;
  border: 2px;
  padding: 14px 40px;
}
